<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<!--<form th:action="@{/processAuthorSearchForm}" method="post">-->
<!--    <input type="text" name="authorName" placeholder="enter author lastname">-->
<!--    <input type="submit">-->
<!--</form>-->
<h1 style="text-align:center;">Search book by authors</h1>
<form th:action="@{/processAuthorSearchForm}" method="post" class="mx-auto p-2 align-items-center" style="width: 250px;">
    <div class="mb-3 ">
        <label for="searchField" class="form-label">Author</label>
        <input type="text"  name="authorName" class="form-control" id="searchField">
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>